doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Chess
    link(rel='stylesheet', href='/css/chessboard.css')
    link(rel='stylesheet', href='/css/index.css')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='/js/chessboard.js')
    script(src='/js/index.js')
    script(src='/js/chess.js')
  body
    block content
